/* /styles/pages/HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Raleway:wght@700&display=swap');

.homepage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/3433329 1.png');
    background-size: cover;
    background-position: center;
}

/* Nuevo contenedor con fondo oscuro y opaco */
.homepage-text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y opaco */
    width: 650px; /* Establece el ancho del contenedor */
    height: 520px; /* Establece la altura del contenedor */
    padding: 40px;
    border-radius: 40px; /* Esquinas redondeadas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9), 0 -4px 10px rgba(0, 0, 0, 0.9);
}


/* Estilos del texto del logo */
.logo-text {
    font-family: 'Alegreya Sans', sans-serif;  /* Asegura que la fuente Alegreya Sans se aplica aquí */
    letter-spacing: 1px;
    font-size: 2rem; /* Tamaño ajustado */
    margin-bottom: 20px;
}

/* Estilo para la imagen del logo */
.homepage-logo {
    margin-bottom: 20px;
}

.homepage-logo img {
    width: 230px;
    height: auto;
}
.homepage-logo h1{
    font-size: 43px;
    font-family: 'Alegreya Sans', sans-serif;  /* Asegura que la fuente Alegreya Sans se aplica aquí */
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: bold;
}
/* Estilo del texto en la página */
.homepage-text {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;  /* Asegura que Alegreya Sans se aplica aquí */
    font-weight: bold;
}

.homepage-text p {
    font-size: 20px; /* Ajuste para el tamaño del texto */
    margin: 0;
    padding: 10px 0; /* Añade un pequeño relleno vertical */
}

/* Estilos del contenedor del botón */
.homepage-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Estilos del botón login */
.login-button {
    background-color: #99B45C;
    color: #ffffff;
    width: 180px;
    height: 65px;
    border: none;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;  /* Se usa Raleway para el texto del botón */
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9), 0 -4px 10px rgba(0, 0, 0, 0.9);
}

.login-button:hover {
    background-color: #86a24e;
}
